.skills__container {
  grid-template-columns: repeat(2, 350px);
  column-gap: 3rem;
  justify-content: center;
}
.skills__content {
  background-color: var(--container-color);
  border:1px solid rgba(0,0,0,0.1);
  padding: 2rem 4rem;
}