.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--containet-color);
}

.nav {
  height: calc(var(--header-height) + 1.5rem);
  display:flex
}